.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0px 0px;
  min-width: 368px;
}

.tooltip-header {
  background-color: #784bd1;
  height: 24px;
  border-radius: 8px 8px 0px 0px;
  padding: 2px 16px;
  gap: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  /* TODO: import font family roboto */
}

.tooltip-body {
  display: flex;
  padding: 12px 14px;
  gap: 8px;
  align-items: flex-start;
}

.tooltip-footer {
  height: 48px;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  gap: 16px;
  padding: 0px 16px;
}

.tooltip-body-right {
  display: flex;
  flex-direction: column;
  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 102px;
  justify-content: space-around;
}

.icon-label {
  color: #676879;
  display: flex;
  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.chips {
  display: flex;
  gap: 4px;
}
.leaflet-popup-content-wrapper > .leaflet-popup-content {
  margin: 0;
  min-width: fit-content;
}

.line {
  height: 1px;
  border-top: 1px solid #e1e1e1;
  margin: 16px 0px;
}

.contacts {
  display: flex;
  gap: 8px;
}

.icon {
  width: 24px;
  height: 24px;
}

.leaflet-popup-close-button {
  color: #fff !important;
}

.icon-btn {
  width: min-content;
  height: min-content;

  background: none;
  border: none;
  cursor: pointer;
}
